<!doctype html>
<html lang="en">
	<head>
		<title>O'Reilly Introduction to WebRTC</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div>
			Video:<select id="camera"></select>
		</div>
		<video autoplay></video>
		<script>
			
			var videoArea=document.querySelector("video");
			var videoSelect=document.querySelector('#camera');
			//MediaStreamTrack.getSources(getCameras);
			getameras();
			
			videoSelect.onChange=startStream;
			startStream();

			function startStream()
			{
				navigator.getUserMedia=navigator.getUserMedia||navigator.webkitGetUseerMedia||navigator.mozGetUserMedia;
				/*var constraints={
					audio:true,
					video:true};*/
				var constraints={
					audio:true,
					video:{
						mandatory:{
							minWidth:640,
							maxWidth:640,
							minHeight:360,
							maxHeight:480
						}
					}
				};	
				navigator.getUserMedia(constraints,onSuccess,onError);
			}
			

			/* function getCameras(sourceInfos)
			{
				for (var i=0;i!=sourceInfo.length;i++)
				{
					var souceInfo = sourceInfos[i];
					var option = document.createElement('option');
					option.value=souceInfo.id;
					if(souceInfo.kind=='video'){
						option.text=souceInfo.label||'camera '+(videoSelect.lengt1);
						videoSelect.appendChild(option);
					}
				}
			} */

			function getameras()
			{
				var option = document.createElement('option');
				navigator.mediaDevices.enumerateDevices()
				.then(devices => {
					devices.forEach(device => {
					if (device.kind === 'videoinput') {
						console.log('Video device: ', device);
						option.text=device.label||'camera '+(videoSelect.lengt1);
						videoSelect.appendChild(option);
					} else if (device.kind === 'audioinput') {
						console.log('Audio device: ', device);
					}
					});
				})
				.catch(err => {
					console.error('Error enumerating devices: ', err);
				});
			}

			function onSuccess(stream){
				console.log("Success! We have a stream");
				//eprecated API
				//videoArea.src=window.URL.createObjectURL(stream);
				videoArea.srcObject = stream;
				videoArea.className="grayscale_filter";	
				videoArea.play();
			}

			function onError(stream){
				constraints.log("Error with getUserMedia: ",error);
			}

			
		</script>
	</body>
</html>
